.formLayoutDefaults {
  display: grid;
  grid-row-gap: .5em;
}

.formDefaults {
  font-size: 1rem;
  color: #333;

  resize: vertical;

  min-height: 2.75em;

  padding: .75em;

  border: none;
  border-radius: .5em;
}