.app {
    display: grid;

    /* Dark Theme */
    color: #efefef;

    min-height: 100vh;

    /* Dark Theme */
    background: #333;

    /* Light Theme */
    /* background: #f3f3f9; */
}

.layout {
    font-size: 1.3rem;

    align-self: center;

    display: grid;
    grid-template-columns: minmax(1em, 1fr) auto minmax(1em, 1fr);
    grid-row-gap: 1.5em;
}

.layout > * {
    grid-column: 2 / -2;
}

/* Un-styling */
.unstyled-ul {
    list-style: none;

    padding: 0;

    margin: 0;
}

.button-defaults {
    font: inherit;

    cursor: pointer;
}

/* ======================= */

.info-section {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2em;
}

.count-metrics {
    display: grid;
    grid-row-gap: .5em;

    padding-bottom: .75em;
    border-bottom: solid;
}

.count-metric {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1em;
    justify-content: space-between;

    margin: 0;
}

.git-checks-layout {
    display: none;
}

.check-message {
    font-size: 1rem;

    justify-self: end;
    align-self: start;

    max-width: max-content;
}

.git-checks {
    display: grid;
}

/* ======================= */

.user-input-layout {
    display: grid;
    grid-row-gap: .5em;
}

.user-input {
    font-size: 1rem;
    color: #333;

    resize: vertical;

    width: 85vw;
    max-width: 25.78125em;

    min-height: 9.25em;

    /* Dark Theme */
    background: #e8e8e8;
    /* =============== */
    padding: .75em;

    border: none;
    border-radius: .5em;
}

.user-input:focus {
    outline: solid 2px #3278cc;
}

/*
    Breakpoints
    ===========

    23.125em
    25.78125em - Max user input size at small screens
    30.375em
    46.25em
*/

@media (min-width: 23.125em) {
    .info-section {
        grid-template-columns: max-content auto;
    }
}

/* 25.78125em = max user input size */
@media (min-width: 25.78125em) {
    .user-input {
        height: 11.25em;
    }
}

@media (min-width: 30.375em) {
    .git-checks-layout-visible {
        display: grid;
        grid-template-rows: max-content auto;

        border: solid 1px;
        border-radius: .25em;
    }

    .git-checks {
        padding-left: 1em;
    }
}

@media (min-width: 46.25em) {
    .layout {
        font-size: 1.4rem;
    }

    .git-checks-layout-visible {
        justify-self: end;

        width: 75%;
    }

    .git-checks {
        padding-bottom: .5em;
    }

    .user-input {
        font-size: inherit;

        max-width: 33.816964285714285em;
    }
}