@use 'sass:map';

@use 'color-palette';
@use 'components/layout';

.gitMessageCheck {
  display: flex;
  justify-content: space-between;
  align-items: end;

  max-width: 65%;
}

.passFailIndicator {
  width: 1em;
}

.pass {
  filter: map.get(color-palette.$recolorBlackSVG, 'green');
}

.fail {
  filter: map.get(color-palette.$recolorBlackSVG, 'red');
}

@media (min-width: map.get(layout.$breakpoints, scaleUpUI)) {
  .gitMessageCheck {
    max-width: 75%;
  }
}