@use 'sass:map';

@use 'breakpoints' as *;

.layout {
  font-size: 1.3rem;

  display: grid;
  grid-template-columns: minmax(1em, 1fr) auto minmax(1em, 1fr);
  grid-row-gap: 1.5em;
}

.layout > * {
  grid-column: 2 / -2;
}

@media (min-width: map.get($breakpoints, 'scaleUpUI')) {
  .layout {
    font-size: 1.4rem;
  }
}