@use 'sass:map';

@use 'mixins';
@use 'components/layout';

.gitChecksLayout,
.gitChecksHidden {
  display: none;
}

.gitChecks {
  @include mixins.unStyledList;

  grid-row: 1 / span 2;
  grid-column: 1 / span 2;

  display: grid;
}

@media (min-width: map.get(layout.$breakpoints, unlockThemeSwitch)) {
  .gitChecksLayout {
    display: grid;
    grid-template-rows: max-content auto;
  }

  .gitChecks {
    border: solid 1px;
    border-radius: .25em;

    padding-top: 1em;
    padding-left: 1em;
  }
}

@media (min-width: map.get(layout.$breakpoints, scaleUpUI)) {
  .gitChecksLayout {
    justify-self: end;

    width: 75%;
  }

  .gitChecks {
    padding-bottom: .5em;
  }
}