@use 'sass:map';

@use 'components/layout';

.infoSection {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1.5em;
}

@media (min-width: map.get(layout.$breakpoints, limitMetricsSize)) {
  .infoSection {
    grid-template-columns: max-content auto;
  }
}