@use 'sass:map';

@use 'color-palette';
@use 'components/layout';

.app {
  display: grid;
  grid-auto-rows: 6em max-content;
  grid-row-gap: 2em;

  min-height: 100vh;

  background: map.get(color-palette.$colors, 'dropWhiteBackground');
}

.appDark {
  color: map.get(color-palette.$colors, 'dimWhite');

  background: map.get(color-palette.$colors, 'dimBlack');
}

@media (min-width: map.get(layout.$breakpoints, scaleUpUI)) {
  .app {
    grid-row-gap: 6em;
  }
}