@use 'sass:map';

@use 'components/layout';

.app {
  display: grid;
  grid-auto-rows: 6em max-content;
  grid-row-gap: 2em;

  min-height: 100vh;

  background: #f3f3f9;
}

.appDark {
  color: #efefef;

  background: #333;
}

@media (min-width: map.get(layout.$breakpoints, scaleUpUI)) {
  .app {
    grid-row-gap: 6em;
  }
}