@use 'sass:map';

@use 'components/layout';

.appHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 3.5em 1.5em;
}

@media (min-width: map.get(layout.$breakpoints, unlockThemeSwitch)) {
  .appHeader {
    padding: 3.5em 3em;
  }
}